<% layout('./layout/boilerplate.ejs') %>

<div class="wel">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100 text-center px-4">
      <div class="col-12 col-md-8 col-lg-6">

        <!-- Heading -->
        <h3 class="display-1 fw-bold mb-4">Welcome to Airbnb</h3>

        <!-- Paragraph -->
        <p class="lead mb-5">
           Visti world mind free as we are here to take care of your stayings.
        </p>

        <!-- Button --> 
        <a href="/api/list"><button class="btn btn-warning">Explore</button></a>

      </div>
    </div>
  </div>
</div>